<h1>Welcome to the hub for politican searches!</h1>

<div class="wrapper">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="What is your political interest?">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

