<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div style="background: blue;">
      <%= link_to "Polimium", root_path, id: "logo" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
      </ul>
    </nav>
  </div>
</header>
